- content_for(:title, "Hello #{current_user.first_name}")
- breadcrumb :account
.wrapper.wrapper-content.animated.fadeInUp
  .row
    .col-xs-12.col-md-8
      .ibox.float-e-margins
        .ibox-title
          %h3 My Account
        .ibox-content
          .row
            .col-md-6
              = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch, role: 'form'}) do |f|
                = devise_error_messages!
                .form-group
                  = f.input :email
                - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  %div
                    Currently waiting confirmation for: #{resource.unconfirmed_email} 
                .form-group
                  = link_to 'Change Password', '#', class: 'btn btn-primary', data: {toggle: 'modal', target: '#modal-change-password'}
                .clearfix
                .form-group
                  = f.input :first_name
                .form-group
                  = f.input :last_name
                .form-group
                  = f.label :country, 'Country', class: 'string optional'
                  %br
                  = f.collection_select :country, Country.all, :alpha2_code, :name, {include_blank: false}, {class: 'form-control'}
                .form-group
                  = f.label :time_zone
                  = f.collection_select :time_zone, User::TIME_ZONES, :first, :second, {include_blank: true}, {class: 'form-control'}
                .form-group  
                  = f.input :company, placeholder: 'Your company'
                .form-group
                  = f.submit 'Update', class: 'btn btn-success btn-lg m-l-sm bold-font'
    .col-xs-6.col-md-4
      - if !current_user.admin?
        .ibox.float-e-margins
          .ibox-title
            %h3 Account Removal
          .ibox-content
            %p To delete your account, please send an email to #{mail_to 'service@minutehero.net'}.
= render 'devise/passwords/change_password_modal'