- breadcrumb :devise
.row
  .col-md-4.offset-md-2
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form', class: 'form-horizontal', wrapper: :horizontal_form } do |f|
      = devise_error_messages!
      %h3 Your Account
      = f.input :email
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      = link_to 'Change Password', '#', class: 'btn btn-primary', data: {toggle: 'modal', target: '#modal-change-password'}

      %h3 Personal Data
      = f.input :first_name, autofocus: true
      = f.input :last_name
      = f.input :company
      = f.input :country
      .form-group
        = f.label :time_zone
        = f.collection_select :time_zone, User::TIME_ZONES, :first, :second, {include_blank: true}, {class: 'form-control'}

      = f.submit 'Update', class: 'btn btn-primary right'

.row
  .col-md-8.offset-md-2
    %h3 Cancel Account
    %p To delete your account, please write an email to #{mail_to 'service@minutehero.net'}.
    -#%p Unhappy? We'll be sad to see you go.
    -#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger right'

#modal-change-password.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"}
          %span ×
        %h4.modal-title Contact us
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
          %p Leave these fields blank if you don't want to change your password.
          = f.input :password, autocomplete: 'off'
          = f.input :password_confirmation
          = f.submit 'Change', class: 'btn btn-primary right'