.authform
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3 Sign up
    = devise_error_messages!
    .form-group
      = f.label :first_name
      = f.text_field :first_name, autofocus: true, class: 'form-control'
    .form-group
      = f.label :last_name
      = f.text_field :last_name, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    .form-group
      %label.custom-control.custom-checkbox
        %input#conditions.custom-control-input{:type => "checkbox"}/
        %span.custom-control-indicator
        %span.custom-control-description I agree with MinuteHero #{link_to 'privacy policy', page_path('privacy_policy'), target: '_blank'} and #{link_to 'terms and conditions', page_path('terms_conditions'), target: '_blank'}
        :coffeescript
          $(document).ready ->
            $('#conditions').change ->
              $('#submit').prop('disabled', !$('#conditions').is(':checked'))
    = recaptcha_tags
    = f.submit 'Sign up', class: 'button right', id: 'submit', disabled: true
    .clearfix
    %hr
    = render partial: 'devise/shared/links'