.row#welcome
  .col-md-12
    %h3 Welcome!
    %h5
      To add MinuteHero to a call, just send a
      calendar invite to #{mail_to 'MinuteHero@MinuteHero.net'}
  .col-md-12
    = link_to current_user.calls.most_recent_call, class: 'btn btn-block btn-primary main ' do
      %i.fa.fa-clock-o
      %span.align-top Your most recent Call
  .col-md-4
    = link_to calls_path, class: 'btn btn-info btn-block' do
      %i.fa.fa-database
      %span.align-top Manage Calls
  .col-md-4
    = link_to edit_user_registration_path, class: 'btn btn-info btn-block' do
      %i.fa.fa-user
      %span.align-top Your Account
  .col-md-4
    = link_to page_path('help'), class: 'btn btn-info btn-block' do
      %i.fa.fa-question-circle
      %span.align-top Help & FAQ
  .col-md-12
    = link_to 'Schedule a call via our web interface', new_call_path, class: 'pull-right'
