= simple_form_for(@call) do |f|
  = f.error_notification

  .form-inputs
    - if current_user.admin?
      = f.association :user
    = f.input :title
    .form-group.string
      = label_tag :number, '* Dial in', class: 'control-label'
      %div= text_field_tag :number, '', class: 'form-control'
      = f.input :dial_in, as: :tel, label: false
      :coffee
        $('#call_dial_in').hide()
        $('#number').intlTelInput
          nationalMode: true
          # just for formatting/placeholders etc
          utilsScript: '/assets/intl-tel-input/build/js/utils.js'
        $("#number").intlTelInput("setNumber", $('#call_dial_in').val())
        $(document).on 'submit', '.new_call, .edit_call', (e)->
          tel=$('#number').intlTelInput("getNumber")
          $('#call_dial_in').val(tel)

    = f.input :participant_code
    = f.input :date_time, as: :string, input_html: { value: (@call.date_time.strftime("%d/%m/%Y %H:%M") if @call.date_time) }
    :coffee
      $('#call_date_time').datetimepicker({
        showClose: true,
        sideBySide: true,
        format: 'DD/MM/YYYY HH:mm'
      });

    = f.input :time_zone, selected: (current_user.time_zone unless @call.time_zone)
  .form-actions
    = f.button :submit, 'Schedule Call'
