- if @upcoming_calls.any?
  %table.footable.table.table-stripped.toggle-arrow-tiny{"data-page-size" => "8"}
    %thead
      %tr
        %th{"data-toggle" => "true"} Date
        %th Time
        %th Title
        - if current_user.admin?
          %th{"data-hide" => "phone"} ID
          %th{"data-hide" => "phone"} User
        %th{"data-hide" => "phone"} Dial in
        %th{"data-hide" => "phone,tablet"} Participant Code
        %th{"data-hide" => "phone,tablet"} Time zone
        - if current_user.admin?
          %th Actions
    %tbody
      - @upcoming_calls.each do |call|
        %tr
          %td= l call.schedule_date
          %td= l call.schedule_time
          %td= call.title
          - if current_user.admin?
            %td= call.id
            %td= call.user.name
          %td= call.dial_in
          %td= call.participant_code
          %td= call.time_zone 
          %td
            - if policy(call).edit?
              = link_to call, class: 'btn btn-primary btn-circle', title: 'Edit' do
                %i.fa.fa-pencil
            - if policy(call).destroy?
              = link_to call, class: 'btn btn-danger btn-circle', method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' do
                %i.fa.fa-times
    %tfoot
      %tr
        %td.footable-visible{:colspan => "7"}
          %ul.pagination.pull-right
            %li.footable-page-arrow.disabled
              %a{"data-page" => "first", :href => "#first"} «
            %li.footable-page-arrow.disabled
              %a{"data-page" => "prev", :href => "#prev"} ‹
            %li.footable-page.active
              %a{"data-page" => "0", :href => "#"} 1
            %li.footable-page
              %a{"data-page" => "1", :href => "#"} 2
            %li.footable-page-arrow
              %a{"data-page" => "next", :href => "#next"} ›
            %li.footable-page-arrow
              %a{"data-page" => "last", :href => "#last"} »
- else
  %h4 No upcoming calls yet.