- breadcrumb :calls
.row
  .col-md-12
    %h3 Search Calls
    .row
      .col-md-4
        = render partial: 'layouts/search_form', locals: { model: :calls }
      .col-md-8
      - if current_user.admin?
        - if policy(Call).create?
          = link_to 'Schedule Call', new_call_path, class: 'btn btn-info pull-right'

    %br
    - if @calls.any?
      %table.table.table-hover
        %thead.thead-default
          %tr
            - if current_user.admin?
              %th= sort_column_by 'first_name', 'User'
            %th= sort_column_by :title
            %th= sort_column_by :schedule_date, 'Date'
            %th Time
            %th Time Zone
            %th Dial in
            %th Code
            %th{:style => "text-align:center"} Actions

        %tbody
          - @calls.each do |call|
            %tr
              - if current_user.admin?
                %td= call.user.name
              %td= call.title
              %td= l call.schedule_date
              %td= l call.schedule_time
              %td= call.time_zone
              %td= call.dial_in
              %td= call.participant_code
              %td{:style => "text-align:center"}
                - if policy(call).show?
                  = link_to call, class: 'btn btn-primary btn-sm', title: 'Details' do
                    %i.fa.fa-eye
                - if policy(call).edit?
                  = link_to edit_call_path(call), class: 'btn btn-primary btn-sm', title: 'Edit' do
                    %i.fa.fa-pencil
                - if policy(call).destroy?
                  = link_to call, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' do
                    %i.fa.fa-times
    - else
      %p No matching calls found.
