- content_for(:title, "Hello #{current_user.first_name}")
- breadcrumb :calls
.wrapper.wrapper-content.animated.fadeInUp
  .row
    .col-xs-12.col-sm-6.col-md-8
      .ibox.float-e-margins
        .ibox-title
          %h3 Meetings List
        .ibox-content
          .row
            .col-md-6
            .col-md-3.col-md-offset-3  
              - if policy(Call).create?      
                = link_to "Schedule Call", new_call_path, class: "btn btn-success btn-lg m-l-sm bold-font"
          -# %form.navbar-form-custom{:action => "", :method => "post", :role => "search"}
            .form-group
              %input#top-search.form-control{:name => "top-search", :placeholder => "Search your meetings...", :type => "text"}
          .tabs-container
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab-1"} UPCOMING MEETINGS
              %li
                %a{"data-toggle" => "tab", :href => "#tab-2"} PAST MEETINGS
            .tab-content
              #tab-1.tab-pane.active
                .panel-body
                  = render partial: 'calls_table', locals: {calls_list: @upcoming_calls}
              #tab-2.tab-pane
                .panel-body
                  = render partial: 'calls_table', locals: {calls_list: @past_calls}
    .col-xs-6.col-md-4
      .ibox.float-e-margins
        .ibox-title
          %h3 Tutorial
        .ibox-content
          %ul.list-inline
            %li{"data-target" => "#myModal", "data-toggle" => "modal"}
              %a{"data-slide-to" => "0", :href => "#carousel2"}
                %img.img-thumbnail{:src => "assets/Slideshow_Folie_1_small.jpg"}/
      - if current_user.admin?
        .ibox.float-e-margins
          .ibox-title
            %h3 Referral Program
          .ibox-content
            %p.font-custom Invite a colleague or a friend through email and get one additional month of MinuteHero for free!
            = link_to "INVITE", new_user_invitation_path, class: "btn btn-success btn-block bold-font"
= render 'slideshow_modal'
:javascript
  $(document).ready(function() {
    $('.footable').footable();
    $('.nav-tabs a').click(function (e) {
      e.preventDefault(); //prevents re-size from happening before tab shown
      $(this).tab('show'); //show tab panel 
      $('.footable').trigger('footable_resize'); //fire re-size of footable
    });
  });
