- breadcrumb @call
.row
  .col-md-12
    %h3
      Call Details
      %span.small.grey 
    %p#notice= notice

    .row
      .col-md-3
        %b ID
      .col-md-3
        = @call.id
    .row
      .col-md-3
        %b Title
      .col-md-3
        = @call.title
    - if current_user.admin?
      .row
        .col-md-3
          %b User
        .col-md-3
          = @call.user
    .row
      .col-md-3
        %b Dial in
      .col-md-3
        = @call.dial_in
    .row
      .col-md-3
        %b Participant code
      .col-md-3
        = @call.participant_code
    .row
      .col-md-3
        %b Date
      .col-md-3
        = l @call.date_time.to_date
    .row
      .col-md-3
        %b Time
      .col-md-3
        = @call.date_time.strftime("%H:%M")
    .row
      .col-md-3
        %b Time Zone
      .col-md-3
        = @call.time_zone
    %br
    - if policy(@call).edit?
      = link_to 'Edit', edit_call_path(@call), class: 'btn btn-info'
    = render partial: 'buttons'

    