%td
  = link_to user.email, user
%td= user.id
%td= user.first_name
%td= user.last_name
%td= user.company
%td= user.country
%td= user.created_at
%td= user.calls.count
%td= user.status
%td
  .form-check
    %label.form-check-label
      %input.form-check-input{type: 'checkbox', data: {id: user.id}, title: user.name}
-#  = form_for(user) do |f|
-#    = f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
-#    = f.submit 'Change Role', :class => 'button-xs'
-#%td
-#  = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user
