- breadcrumb :users
.row
  .col-md-12
    %h3 Manage users
    .row
      .col-md-4
        = render partial: 'layouts/search_form', locals: { model: :users }
      .col-md-8
        = link_to new_user_invitation_path, class: 'btn btn-info' do
          %i.fa.fa-user-plus
          Add
        - {activate: 'check', suspend: 'ban', block: 'lock', unblock: 'unlock'}. each do |k,v|
          = link_to bulk_users_path, data: {action: k}, class: 'btn btn-info bulk' do
            %i.fa{ class: "fa-#{v}" }
            = k.to_s.humanize
        = link_to bulk_users_path, data: {action: 'destroy', confirm: 'Are you sure?'}, class: 'btn btn-danger bulk' do
          %i.fa.fa-trash
          Delete
        :coffee
          $(document).on 'click', 'a.bulk', (e)->
            e.preventDefault()
            ids = []
            $('.user input.form-check-input:checked').each -> ids.push($(this).data('id'))
            if ids.length != 0
              $.post $(this).prop('href'),
                     bulk: { action: $(this).data('action'), ids: ids }
            false
    %br
    %table.table.table-hover{data:{toggle: 'table'}}
      %thead.thead-default
        %tr
          %th= sort_column_by :email
          %th{data:{sortable: 'true'}} Id
          %th= sort_column_by :first_name
          %th= sort_column_by :last_name
          %th= sort_column_by :company
          %th= sort_column_by :country
          %th= sort_column_by :role
          %th= sort_column_by :created_at
          %th{data:{sortable: 'true'}} Calls
          %th{data:{sortable: 'true'}} Blocked
          %th{data:{sortable: 'true'}} Suspended
          %th{data:{sortable: 'true'}} Email Confirmed At
          %th
            .form-check
              %label.form-check-label
                %input.form-check-input.check-all{type: 'checkbox', title: 'Check all'}
                :coffee
                  $(document).on 'click', '.check-all', ->
                    check_all = $(this).prop 'checked'
                    $('.form-check-input').prop 'checked', check_all
      %tbody
        - @users.each do |user|
          %tr.user
            = render user
