= link_to 'Didn\'t get it? Click here', '#', class: 'btn btn-warning pull-right bold-font', data: {toggle: 'modal', target: '#new_request'}

#new_request.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3 Contact us
        %button.close{"data-dismiss" => "modal"}
          %span.glyphicon.glyphicon-remove
      .modal-body.m-b-lg
        = form_for Request.new do |f|
          .form-group
            = f.label :from
            = f.text_field :from, value: params[:email], class: 'form-control'
          .form-group
            = f.label :subject
            = f.text_field :subject, class: 'form-control'
          .form-group
            = f.label :content
            = f.text_area :content, class: 'form-control', rows: 5
          = f.submit 'Send', class: 'btn btn-success bold-font pull-right'
   